body {
    font-family: Calibri, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #101010;
}
/* *-------- --------------------------------------------------------------*/
/* *--------                 STACK Panes            ----------------*/
/* *-------- --------------------------------------------------------------*/
.stack-pane {
    background-color: #00000040;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #00000080;
    color: #a0a0a0;
}

.stack-pane-title {
    color: #a0a0a0;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
}
.stack-pane-chgbutton {
    color: lightgrey;
    border: none;
    background-color: #232428;
}
.stack-pane-chgbutton:hover {
    transition: 0.1s;
    transform: scale(1.5);
}

/* *-------- --------------------------------------------------------------*/
/* *--------                 Windows/Containers           ----------------*/
/* *-------- --------------------------------------------------------------*/
.wn-draggable-main {
    background-color: #232428a0;
    border-radius: 4px;
    border-style: solid;
    border: 2px 1px 1px 1px;
    border-color: #303030;

    -webkit-box-shadow: 3px 4px 3px 0px #000000;
    box-shadow: 3px 4px 3px 0px #000000;
}
.wn-titlebar {
    background-color: #ffffff20;
    font-size: 16px;
    text-align: center;
    color: #a0a0a0;
}
.overlay-window {
    background-color: #00000040;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #202020;
}
/* *-------- --------------------------------------------------------------*/
/* *--------                 BUTTONS             ----------------*/
/* *-------- --------------------------------------------------------------*/
/*  IMAGE BUTTON */
.imagebutton {
    background-color: #00000000;
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 0px;
    outline: none;
    transition: scale 1s;
}
.imagebutton:hover {
    transition: 0.3s;
    transform: scale(1.2);
}
.imagebutton:active {
    transform: translateY(3px);
}
.imagebutton2 {
    background-color: #ffffff00;
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 0px;
    outline: none;
    border-radius: 10px;
}
.imagebutton2:hover {
    transition: 0.3s;
    transform: scale(1.5);
}
.imagebutton2:active {
    transition: 0.1s;
    transform: translateY(3px);
}
.imagebutton3 {
    background-color: #00000015;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    border-width: 0px;
    outline: none;
    background-position-x: 3px;
    background-position-y: -3px;
}
.imagebutton3:hover {
    background-color: #00000030;
}
.imagebutton3:active {
    transform: translateY(3px);
}

/*  STANDARD 1 */
.basicbutton1 {
    background-color: #232428;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    font-weight: bold;
}
.basicbutton1:hover {
    transition: 0.1s;
    font-size: 115%;
}
.basicbutton1:active {
    transform: translateY(2px);
}
/*  STANDARD 1 */
.min-button {
    background-color: #00000000;
    font-size: 12px;
    border: none;
    font-weight: bold;
    color: #b0b0b0;
    text-align: left;
}
.min-button:hover {
    transform: translateX(2px);
}
.min-button:active {
    transform: translateY(2px);
}
.min-selected {
    border-left: solid;
    border-width: 4px;
    padding-left: 4px;
}
/*  CUSTOM TOGGLE */
.toggle-container {
    border: solid;
    border-width: 2px;
    background-color: #d0d0d0;
    border-color: #808080;
    border-radius: 8px;
    padding: 0px;
}
.toggle-container:hover {
    border-width: 4px;
}
.toggle-inner-off {
    border: none;
    background-color: #404040;
    border-radius: 12px;
}
.toggle-inner-on {
    border: none;
    background-color: #007a08;
    border-radius: 12px;
}
/* *-------- --------------------------------------------------------------*/
/* *--------                 DRAGGING             ----------------*/
/* *-------- --------------------------------------------------------------*/
.over {
    border-color: white;
    border-width: 2px;
    border-style: dotted;
}
.draggable:hover {
    border-color: yellow;
    border-width: 2px;
    border-style: dotted;
}
/* *-------- --------------------------------------------------------------*/
/* *--------                 SVG            ----------------*/
/* *-------- --------------------------------------------------------------*/
.svgDisplayObject {
    stroke: #ffff00;
    stroke-width: 2px;
    fill: #00000000;
    opacity: 0;
}
.svgDisplayObject:hover {
    opacity: 1;
}
.svgDisplayObject:active {
    fill: #ffffff80;
}
.svgLine {
    stroke: #ffff00;
    stroke-width: 4px;
    opacity: 0;
}
.svgLine:hover {
    opacity: 1;
}
.highlight {
    stroke: #ffff00;
    stroke-dasharray: 5, 5;
    stroke-width: 2px;
    fill: #00000000;
}
.dragHandle {
    stroke: yellow;
    fill: #00000060;
    stroke-width: 1px;
}
.dragHandle:hover {
    fill: #ffffff60;
    cursor: crosshair;
}
.dragHandle:active {
    cursor: crosshair;
}
/* *-------- --------------------------------------------------------------*/
/* *--------                OTHER           ----------------*/
/* *-------- --------------------------------------------------------------*/
.inputcolor {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border-radius: 6px;
    border: solid;
    border-color: #808080;
}
.dropdown {
    border: none;
    color: grey;
    background-color: #232428;
}
.number-input {
    background-color: #232428;
    color: #a0a0a0;
    font-size: 14px;
    border: 1px;
    border: solid;
    border-color: #b0b0b0;
    text-align: center;
}
.text-input {
    background-color: #e0e0e0;
    color: #303030;
    font-size: 14px;
    border: 1px;
    border: solid;
    border-color: #b0b0b0;
    word-wrap: break-word;
    word-break: break-all;
}
/* *-------- --------------------------------------------------------------*/
/* *--------                Labels/text             ----------------*/
/* *-------- --------------------------------------------------------------*/
.obj-label {
    font-size: 13px;
    color: #e0e0e0;
}
.obj-label2 {
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.title {
    font-size: 16px;
    color: #1771f8;
    font-weight: bold;
    width: 200px;
    border-bottom: solid;
    border-color: #1771f8;
    border-width: 2px;
}
.boldit {
    font-weight: bold;
}
.underlineit {
    text-decoration: underline;
}
.spn-label {
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 1px 0px 1px 0px;
}
.info-caption {
    font-size: 20px;
    font-weight: bold;
    color: #b0b0b0;
}
@keyframes shine {
    0% {
        color: #202020;
    }
    50% {
        color: #d0d0d0;
    }
    100% {
        color: #202020;
    }
}
/* *-------- --------------------------------------------------------------*/
/* *--------                 CUSTOM SLIDER            ----------------*/
/* *-------- --------------------------------------------------------------*/
/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 12px; /* Specified height */
    background: transparent; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    border-top: solid;
    border-color: #a0a0a0;
    border-width: 3px;
    cursor: pointer;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    cursor: pointer;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 6px; /* Set a specific slider handle width */
    height: 8px; /* Slider handle height */
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    border-radius: 4px 4px 0px 0px;
    border: none;
    background: #b0b0b0; /* Green background */
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 6px; /* Set a specific slider handle width */
    height: 12px; /* Slider handle height */
    outline-color: black;
    outline-width: 2px;
    background: #000000; /* Green background */
    cursor: pointer;
}
/* *-------- --------------------------------------------------------------*/
/* *--------                 CUSTOM CHECKBOX            ----------------*/
/* *-------- --------------------------------------------------------------*/
.customcheck {
    background-color: #00000000;
    border: solid;
    border-color: #808080;
    border-width: 1px;
    border-radius: 2px;
    margin: 0px;
    padding: 0px;
}
.customcheck:hover {
    border-width: 2px;
}
.customcheck:active {
    transform: translateY(2px);
}
